@import '../../scss/_mixins.scss';

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5rem;
  margin-bottom: 60px;

  .card {
    background: var(--elements-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 9px;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 100%;

    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.05) 7px 20px 20px 0px;
    }

    .card-body {
      padding: 0 1.5rem 1.5rem;

      .card-text {
        margin: 1em 0;
        font-size: 0.9rem;
        line-height: 25px;
        font-weight: 600;

        .value {
          font-weight: 400;
        }
      }
    }
  }
}

@supports (aspect-ratio: 16/9) {
  .cards .card img {
    aspect-ratio: 16/9;
    height: auto;
  }
}
