@import '../../scss/_mixins.scss';

.options {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  align-items: center;
  @include responsive(620px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.input,
.region-filter {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
}

.input {
  border: none;
  outline: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  color: var(--text-color);
  background: var(--elements-color);
}

.country-search {
  padding-left: 65px;
  padding-right: 30px;
  width: clamp(250px, 50%, 500px);
  background: url('../../img/icon/search-outline-black.svg') no-repeat 25px 20px, var(--elements-color);
  background-size: 25px;
  @include responsive(620px) {
    margin-bottom: 30px;
  }
  &::placeholder {
    color: var(--text-color);
  }
}

.region-filter {
  width: 210px;
  padding: 22px 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../../img/icon/chevron-down-outline-black.svg') no-repeat 175px center, var(--elements-color);
  background-size: 18px;
  user-select: none;
}

.theme-dark {
  .region-filter {
    background: url('../../img/icon/chevron-down-outline-white.svg') no-repeat 175px center, var(--elements-color);
    background-size: 18px;
  }
  .country-search {
    background: url('../../img/icon/search-outline-white.svg') no-repeat 25px 20px, var(--elements-color);
    background-size: 25px;
  }
}

.clear-filter {
  height: 19px;
  margin-right: 20px;

  img {
    width: 22px;
  }
}
