@import '../../scss/_mixins.scss';

.country-view {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive(800px) {
    flex-direction: column;
  }
}

.country-info {
  flex-basis: 45%;
  @include responsive(800px) {
    width: 100%;
    margin-top: 30px;
    font-size: 0.85rem;
  }
}

.flag {
  width: 45%;
  aspect-ratio: 16/11;
  object-fit: cover;
  @include responsive(800px) {
    width: 100%;
    aspect-ratio: auto;
  }
}

.country-details {
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  @include responsive(1200px) {
    flex-direction: column;
  }
}

.borders {
  display: flex;
  align-items: center;
  margin-top: 40px;
  @include responsive(1200px) {
    flex-wrap: wrap;
  }
  div {
    @include responsive(1200px) {
      flex: initial !important;
    }
  }
  .title {
    flex: 3;
  }
  .btns-list {
    flex: 10;
    @include responsive(1200px) {
      margin-top: 10px;
    }
  }
}

.btn-small {
  padding: 5px 25px;
  margin: 5px 10px;
  @include responsive(1200px) {
    margin: 5px 10px 10px 0;
  }
}

.btn-back {
  margin: 5rem 0;
  @include responsive(800px) {
    margin: 3rem 0;
    font-size: 0.85rem;
  }
}

.btn-back::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: 25px;
  top: 13px;
  background: url('../../img/icon/left-arrow-black.svg') no-repeat;
  background-size: 15px;
}

.col:not(:last-child) {
  @include responsive(1200px) {
    margin-bottom: 10px;
  }
}

.theme-dark .btn-back::before {
  background: url('../../img/icon/left-arrow-white.svg') no-repeat;
}

.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 0;
  }
}
