@import '../../scss/_mixins.scss';

.navbar {
  background: var(--elements-color);
  padding: 0.4rem 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 3px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include responsive(470px) {
    font-size: 0.7rem;
  }
}

.navbar-logo a {
  font-weight: 800;
}

.dark-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: var(--text-color);
}

.darkmode-icon {
  width: 1.2rem;
  margin-right: 7px;
}
